.navbar_rh {
    margin: 0 10px;
    a {
        color: #ffff;
        text-decoration: none;
        margin: 0 5px;
    }
    a:hover {
        color: #ffff;
    }
}

.linkActive {
    font-weight: 700;
}